<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Демо Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
    <div class="header">
      <div class="lang-navbar btnhigh btncity">
        <nav class="nav bg-dark">
        <div class="container">
    
          <div class="row" style=" margin-top: 15px; margin-bottom: 15px;">
            <div class="col-6 text-white">
              <strong> 
                <h4>HR-project</h4>
              </strong>
            </div>
            <div class="col text-white">
              About 
            </div>
            <div class="col text-white">
              Help
            </div>
            <div class="col-4 text-white">
              Contact data
            </div>
          </div>
            <!-- <ul class="nav justify-content-center" >
                <li class="nav-item ">
                    <a class="nav-link" >HR-project</a>
    
                </li>
    
                <li class="nav-item location_menu" ><a class="nav-link btncity" href="#">О нас</a></li>
    
                  
    
                  <li class="nav-item location_ur_faces"><a class="nav-link btncity" href="#">Помощь</a></li>
    
                  <li class="nav-item location_dns"><a class="nav-link btncity" href="#">Контактная информация</a></li>
              </ul> -->
          </div>
        </nav>
      </div>
    
    
    </div>

 <div>
        <form class="authorizedform" name="DoRegister" method="post">
            <h2>Регистрация</h2>

            <label>ФИО</label>
            <input class="authorizedstyle" name="full_name" value="<?php if (isset($key_data['full_name']))echo (htmlspecialchars($key_data['full_name'])) ?>" type="text" placeholder="Ведите свое полное имя" >

            <label>Логин</label>
            <input class="authorizedstyle" name="login" value="<?php if (isset($key_data['login']))echo (htmlspecialchars($key_data['login'])) ?>" type="text" placeholder="Ведите свой логин" >

            <label>Почта</label>
            <input class="authorizedstyle" name="email" value="<?php if (isset($key_data['email']))echo (htmlspecialchars($key_data['email'])) ?>" type="email" placeholder="Ведите свой адрес электронной почты">

            <label>Дата рождения</label>
            <input class="authorizedstyle" name="date" value="<?php if (isset($key_data['name']))echo (htmlspecialchars($key_data['name'])) ?>" type="date" placeholder="Ведите дату рождения">

            <label>Адресс</label>
            <input class="authorizedstyle" name="adress" value="<?php if (isset($key_data['adress']))echo (htmlspecialchars($key_data['adress'])) ?>" type="text" placeholder="Ведите адрес проживания">

            <label>Пол</label>
            <input class="authorizedstyle" name="sex" value="<?php if (isset($key_data['sex']))echo (htmlspecialchars($key_data['sex'])) ?>" type="text" placeholder="Введите пол">

            <label>Интересы</label>
            <input class="authorizedstyle" name="interes" value="<?php if (isset($key_data['interes']))echo (htmlspecialchars($key_data['interes'])) ?>" type="text" placeholder="Ведите свои интересы">

            <label>Ссылка на профиль ВК</label>
            <input class="authorizedstyle" name="vk" value="<?php if (isset($key_data['vk']))echo (htmlspecialchars($key_data['vk'])) ?>" type="url" placeholder="Ведите ссылку на ВК">


                <label  class="form-label">Группа крови</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="blood_group" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1" name="blood_group">
                        Первая
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="blood_group" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1" name="blood_group">
                        Вторая
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="blood_group" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault3" name="blood_group">
                        Третья
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="blood_group" id="flexRadioDefault2"
                           checked>
                    <label class="form-check-label" for="flexRadioDefault4">
                        Четвертая
                    </label>
                </div>
                <label  class="form-label">Резус-фактор</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rezus" id="flexRadioDefault1"
                >
                    <label class="form-check-label" for="flexRadioDefault1">
                    Положительный
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rezus" id="flexRadioDefault2"
                       checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                    Отрицательный
                    </label>
                </div>

                <label>Резус-фактор</label>
                <input  name="rezus" type="text" value="<?php if (isset($key_data['rezus']))echo (htmlspecialchars($key_data['rezus'])) ?>" placeholder="Введите резус-фактор">

            <label>Пароль</label>
            <input type="password" name="password" value="<?php if (isset($key_data['password']))echo (htmlspecialchars($key_data['password'])) ?>" type="password" placeholder="Введите пароль">

            <label>Подтверждение пароля</label>
            <input type="password" name="password_repeat" value="<?php if (isset($key_data['password_repeat']))echo (htmlspecialchars($key_data['password_repeat'])) ?>" placeholder="Подтвердите введенный пароль">

            <button class="authorizedbutton" name="do_register" type="submit">Зарегистрироваться</button>
            <p>
                Уже зарегистрированы? - <a href="login.php">Войдите в аккаунт</a>.
            </p>

            


        </form>

    </div>

<!-- body part of web page -->
<div class="main" style="margin-top: 50px; ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-light justify-content-center">
                        <li class="breadcrumb-item"><a href="main.html">Home</a></li>
                        <li class="breadcrumb-item"><a>Full list of candidates</a></li>
                    </ol>
                </nav>  
          </div>          
        </div>
      
    </div>
    <form>
      <button style="margin-top:20px;" class="btn btn-primary" type="submit" formaction="n_f_list.html">Перейти</button>
    </form>
  
      <div class="row">
        <div class="col">
          <div class=" multi-collapse" id="multiCollapseExample1">
            <div class="card card-body" style="width: 50rem;">
              
              <h1>Full list of candidates</h1>
              <table class="table table-striped" style="margin-top: 100px;">
                <thead>
                  <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Вакансия</th>
                    <th scope="col">Информация</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                
                    <td>Рандомные данные</td>
                    <td>Кем быть хочет</td>
                    <td>Инфа, которая есть в резюме</td>
                  </tr>
                </tbody>
                
              </table>
              <p>Столбцы таблицы исправим, когда будем знать состав датасета</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body" style="width: 50rem;">
              <h1>Полный список потенциальных работников</h1>
              <table class="table table-striped" style="margin-top: 100px;">
                <thead>
                  <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Вакансия</th>
                    <th scope="col">Информация</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Рандомные данные</td>
                    <td>Кем быть хочет</td>
                    <td>Инфа, которая есть в резюме</td>
                  </tr>
                </tbody>
                
              </table>
              <p>Столбцы таблицы исправим, когда будем знать состав датасета</p>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
<div class="footer">

  
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
