<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Демо Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
    <div class="header">
      <div class="lang-navbar btnhigh btncity">
        <nav class="nav bg-dark">
        <div class="container">
    
          <div class="row" style=" margin-top: 15px; margin-bottom: 15px;">
            <div class="col-6 text-white">
              <strong> 
                <h4>HR-project</h4>
              </strong>
            </div>
            <div class="col text-white">
              About 
            </div>
            <div class="col text-white">
              Help
            </div>
            <div class="col-4 text-white">
              Contact data
            </div>
          </div>
            <!-- <ul class="nav justify-content-center" >
                <li class="nav-item ">
                    <a class="nav-link" >HR-project</a>
    
                </li>
    
                <li class="nav-item location_menu" ><a class="nav-link btncity" href="#">О нас</a></li>
    
                  
    
                  <li class="nav-item location_ur_faces"><a class="nav-link btncity" href="#">Помощь</a></li>
    
                  <li class="nav-item location_dns"><a class="nav-link btncity" href="#">Контактная информация</a></li>
              </ul> -->
          </div>
        </nav>
      </div>
    
    
    </div>


    
<!-- body part of web page -->
<div class="main" style="margin-top: 50px; ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-light justify-content-center">
                        <li class="breadcrumb-item"><a href="main.html">Home</a></li>
                        <li class="breadcrumb-item"><a>Full list of candidates</a></li>
                    </ol>
                </nav>  
          </div>          
        </div>
      
    </div>
    <form>
      <button style="margin-top:20px;" class="btn btn-primary" type="submit" formaction="n_f_list.html">Перейти</button>
    </form>
  
      <div class="row">
        <div class="col">
          <div class=" multi-collapse" id="multiCollapseExample1">
            <div class="card card-body" style="width: 50rem;">
              
              <h1>Full list of candidates</h1>
              <table class="table table-striped" style="margin-top: 100px;">
                <thead>
                  <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Вакансия</th>
                    <th scope="col">Информация</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                
                    <td>Рандомные данные</td>
                    <td>Кем быть хочет</td>
                    <td>Инфа, которая есть в резюме</td>
                  </tr>
                </tbody>
                
              </table>
              <p>Столбцы таблицы исправим, когда будем знать состав датасета</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body" style="width: 50rem;">
              <h1>Полный список потенциальных работников</h1>
              <table class="table table-striped" style="margin-top: 100px;">
                <thead>
                  <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Вакансия</th>
                    <th scope="col">Информация</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Рандомные данные</td>
                    <td>Кем быть хочет</td>
                    <td>Инфа, которая есть в резюме</td>
                  </tr>
                </tbody>
                
              </table>
              <p>Столбцы таблицы исправим, когда будем знать состав датасета</p>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
<div class="footer">

  
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
