<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Демо Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
    <div class="header">
        <div class="lang-navbar btnhigh btncity">
            <nav class="nav bg-dark">
                <div class="container">
                    <div class="row" style=" margin-top: 15px; margin-bottom: 15px;">
                        <div class="col-6 text-white">
                        <strong> 
                            <h4>HR-project</h4>
                        </strong>
                        </div>
                        <div class="col text-white">
                        О нас
                        </div>
                        <div class="col text-white">
                        Помощь
                        </div>
                        <div class="col-4 text-white">
                        Контактная информация
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>
